body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.clear  {
	clear:both;
}
/* ******************  STYLE PERSO ******************** */
.blueviolet {
	color: lightslategray;
}

/*.navbar-inverse {
	background-color: blueviolet;
	color: darkred;
}*/
.navbar-inverse .navbar-brand  {
	color:firebrick;
}
.navbar-inverse .navbar-nav>li>a  {
	color: firebrick;
}

.erreur {
	background-color: darkred;
	color: white;
	font-style: italic;
	padding: 5px;
	margin-top: 20px;
}
.succes {
	background-color: darkgreen;
	color: white;
	font-style: italic;
	padding: 5px;
	margin-top: 20px;
}
/* ****************** INDEX - PAGE D'ACCUEIL ********************** */
.index-descr-fiche {
    margin-bottom:0px;
}
.index-ref-fiche {
    margin-top:0px;
}
.index-voir {
    margin-top:10px;
    margin-bottom: 10px;
}
.index-bouton-voir {
    width:100%;
}
.no-photo {
    height: 165.36px;
    margin-bottom: 9.64px;
    padding-top: 30%;
    background-color:#ccc;
    text-align: center;
}
.no-photo p {
        font-weight: bold;
    }
.salle_prix {
	font-weight: bold;
}
.salle_titre {
	color: steelblue;
	font-weight: bold;
}

/* ****************** PAGE PROFIL ******************* */
.infos_profil {
	color: #428bca;
	display: inline-block;
	width: 100px;
	font-style: italic;
}
/* ****************** FICHE PRODUIT ******************** */
.panel-body {
    padding-bottom: 0;
}
.fiche_produit {
    margin-top: 25px;
}
.fiche_produit_h1 {
font-size:18pt;
}

legend {
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom: 0;
/*    text-align: center;*/
}
.fiche_main_pic {
    text-align: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top:20px;
}
.main_pic {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
/*    margin-top:5px;*/
}
#large {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.fiche_main_pic img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1.85s;
}
.fiche_main_pic .hideme {
  opacity: 0;
  transition: opacity 0s;
}
.fiche-top {
    padding:15px;
}
img {
    vertical-align: inherit;
}
.fiche_other_pics {
}

p .label_fiche {
	display: inline-block;
	width: 140px;
	color: #428bca;
}
.fiche_article p {
	text-align: left;
}
.panel-body .fiche_image {
	text-align: center;
}
.addmember {
	margin-bottom : 40px;
}
.olive {
	margin-bottom: 15px;
	}

.fichepro {
    width:100%;
}

input.nn {
    -moz-appearance: textfield;
}

#map {
    height: 190px;
    max-width: 345px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    }

@media screen and (max-width: 700px) {
  .fiche_main_pic  {
    display:none;
  }
}
/* ************* Tableau d'affichage des tables *************** */
.affichage {
	text-align: center;
}

th.affichage {
	background-color: darkslategray;
	color: beige;
}

/* Connexion */
.container_connexion {
	position: fixed;
	z-index:1;
	width: 100%;
	height: 100%;
	padding: 5em 30em 5em 30em;

background: rgba(0, 0, 0, 0.4);
	/*opacity: 0.5;*/

}

.block_connexion {
	margin: 0 auto;
	padding: 15px;
	background-color: white;
	border-radius: 1em;
	border: 1px solid;
}

.fermeture>a {
	text-decoration: none;
	color: red;

}

/********* GESTION DES SALLES **********/
.bloc-photos {
    margin-top: 20px;
    margin-bottom: 30px;
}
legend {
    margin-bottom: 20px;
}
.photo-actuelle{
    margin-top: 15px;
}
/**** BOUTONS INPUT-FILE ****/

/*cacher le champ input*/
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/*stylisation du label*/
@media screen and (max-width: 1000px){
    .btn-label {
       font-size: 0.8em;
    }
}
.btn-label {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 4px;
}
.btn-label span {
    margin-left: 5px;
}
.oqp {
    background-color: #91BACF;
}
.oqp:hover {
    background-color: #77ABD6;
}
.oqp>span {
    color: lime;
}
/**** boutons input-file ****/
/********* gestion des salles **********/